body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  background-color: powderblue;
}

main {
  width: 100%;
  max-width: 650px;
  margin: 1rem auto;
}

h1,
h2,
th {
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: royalblue;
}

table {
  border: 3px solid royalblue;
  margin: 0 auto;
  width: 100%;
}

th,
td {
  padding: 5px;
}

th {
  background-color: midnightblue;
  color: white;
}

td {
  border-top: 1px solid royalblue;
}

.code {
  background: beige;
  font-family: "Courier New", Courier, monospace;
}

tr:hover {
  background: white;
  background: rgba(255, 255, 255, 0.3);
}
